@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My MVC PRoject</h1>
    <p class="lead">A project created with MVC for Movie rentals using HTML, CSS,Bootstrap,Twitter Typeahead,Glimpse,Elmah,Ajax,Jquery,Entity Framework and JavaScript.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Application Details</h2>
        <p>
            A simple rental application to revise my MVC concepts.
        </p>
       </div>
</div>