@model POC.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
<p>@Model.Name</p>

<ul>
    <li>MemberShipType: @Model.MembershipType.Name </li>
   
        @if (Model.BirthDate.HasValue)
        {
            <li>BirthDate:@Model.BirthDate.Value.ToShortDateString()
            </li>
   
        }
    </ul>

