@model IEnumerable<POC.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>MemberShip Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model) {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
    </tbody>
</table>